{[include(Include/Header)]}

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Hello, world!</h1>
                <p>PHP {[$phpVersion]}</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
            
                <div class="span4">
                    <h2>loadedExtensions</h2>
                    <p>
                        <ul>
                        {[ foreach($loadedExtensions as $ext): ]}
                            <li>{[$ext]}</li>
                        {[ endforeach; ]}
                        </ul>
                    </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                
                <div class="span4">
                    <h2>$_SERVER</h2>
                    <p>
                        <ul>
                        {[ foreach($serverParams as $k=>$v): ]}
                            {[ if($v): ]}
                                <li>{[$k]} {[$v]}</li>
                            {[ endif; ]}
                        {[ endforeach; ]}
                        </ul>
                    </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
               
                <div class="span4">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="https://github.com/oubakiou/oryzias">oryzias</a></li>
                        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
                        <li><a href="http://jquery.com/">jQuery</a></li>
                    </ul>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->

{[include(Include/Footer)]}